.imagenProducto{
    height: 200px;
    margin-left: 100px;
    margin-top: 50px;
    
}

.accordion{
    width: 400px;
    
}

.botonAcordion{
    border: none;
    outline: 0;
    padding: 12px;
    color:aqua;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    background-color: blue;
    border-radius: 3px;
    height: 50px;
    margin-bottom: 70px;
    margin-top: 20px;
}


.botonAcordion:hover{
    background-color: black;
    color: white;
}


