.carrito{
    color: aliceblue;
    height: 27px;
    margin-top: 25px;
    margin-right: 50px;
}

.carrito:hover{
    color: green;
}


.navbar-nav{
    display: flex;
    justify-content: end;
    flex-grow: inherit;
}

.span{
    color: white;
    position: relative;
    top: -50px;
    left: 40px;
}


.titulo{
    font-size: 27px;
}


.nav-item{
    font-size: 20px;
}


