.d-block{
    background-size: cover;
    height: 400px;
    width: 100px;
    border-radius: 20px;
}

.carrusel{
    margin-top: 80px;
    margin-left: 550px;
    width: 800px;
    border-radius: 20px;
}



.carousel-fade{
    margin-top: 100px;
    margin-left: 550px;
    width: 800px;
}



.divNoticias{
    background: url("https://img.freepik.com/vector-premium/fondo-escombros-piedra-negra-capas-traceria-oscura-brutal_79145-596.jpg?w=2000");
    background-size: cover;
    margin-top: 100px;
    margin-left: 240px;
    width: 1400px;
    height: 150px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 5px black;
}
.h2Noticias{
    color: white;
    position: relative;
    top: 50px;
    left: 300px;
}