.boton{
    border: none;
    outline: 0;
    padding: 12px;
    color: black;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    background-color: white;
    border-radius: 3px;
    height: 50px;
    margin-bottom: 70px;
}


.boton:hover{
    background-color: black;
    color: white;
}

.imagenes{
    width: 300px;
    height: 300px;
    box-shadow: 2px 2px 5px 2px black;
}

.main{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 80px;
    color: white;
}



.mas:hover{
    background-color: black;
    color: white;
}

.mas{
    margin-left: 5px;
}


.none{
    display: none;
}


.span{
    color:white;
    position: relative;
    top: -2580px;
    left: 1745px;
    
}


.carrito{
    color: white;
    height: 27px;
    margin-top: 25px;
    margin-right: 50px;
    position: relative;
    top: -2560px;
    left: 1785px;
}

.carrito:hover{
    color: green;
}


.X{
    color: red;
    background-color: black;
    position: relative;
    top: -2560px;
    left: 1735px;
}


.X:hover{
    background-color: red;
    color: black;
}

.check{
    position: relative;
    top: -2560px;
    left: 1745px;
    background-color: lightgreen;
}

.check:hover{
    background-color: black;
    color: lightgreen;
}

.trash{
    position: relative;
    top: -2560px;
    left: 1755px;
}

.trash:hover{
    background-color: black;
    color: white;
}