

.mas:hover{
    background-color: black;
    color: white;
}

.mas{
    margin-left: 5px;
}


.none{
    display: none;
}


.span{
    color:white;
    position: relative;
    top: -1465px;
    left: 1725px;
    
}


.carrito{
    color: white;
    height: 35px;
    margin-top: 25px;
    margin-right: 55px;
    position: relative;
    top: -1430px;
    left: 1768px;
}

.carrito:hover{
    color: green;
}


.X{
    color: red;
    background-color: black;
    position: relative;
    top: -1430px;
    left: 1735px;
}


.X:hover{
    background-color: red;
    color: black;
}

.check{
    position: relative;
    top: -1430px;
    left: 1745px;
    background-color: lightgreen;
}

.check:hover{
    background-color: black;
    color: lightgreen;
}

.trash{
    position: relative;
    top: -1430px;
    left: 1755px;
}

.trash:hover{
    background-color: black;
    color: white;
}